.App{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
  }

  h3 {
    color: rgb(255, 255, 255);



  }
  .card{
    justify-content:space-evenly;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    
    margin: auto;
   
    
    background-image: url(https://media3.giphy.com/media/1uLQUtPLbJMQ0/giphy.gif?cid=ecf05e47f94vvc5uczxgg58b4y2riqm5vtsjju4ls3958oo8&rid=giphy.gif3);
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: -2px 1px 1px 5px rgb(0, 0, 0); */
  
  }
  .title{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 30px;
  }
  .main-container{
    
    height: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
  }
  .main-container h4{
    font-size: 25px;
    font-weight: 400;
  }
  h6 {

    justify-content: ;

  }
